.recognition-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
}
.recognition-box {
    display: flex;
    align-items: center;
    background-color: #dce9f2;
    padding: 15px 50px;
    border-radius: 10px;
    border: 1px solid #00428a;
}

.recognition-text {
    font-size: 18px;
    color: #292929;
    margin: 0 0 0px !important;
}
@media only screen and (max-width: 990px) and (min-width:300px)  {
    .recognition-box {
        display: inline-grid !important;
        align-items: center;
        background-color: #dce9f2;
        padding: 10px 10px;
        border-radius: 10px;
    }
    .recognition-text {
        font-size: 15px;
        color: #292929;
        margin: 0 0 0px !important;
        padding: 10px;
        text-align: justify;
    }
}
@media only screen and (max-width: 3000px) and (min-width:991px)  {
    .recognition-logo {
        margin-left: -22px;
}
.imagesize{
    width: 145px;
}

}
/*Rankings*/
        .container_card {
        background-color: #d9eaf7;
        border-radius: 10px;
        padding: 12px;
        display: flex;
        align-items: center;
        width: 800px;
        }

        .content {
        flex: 1;
        text-align: center;
/*        margin-left: 128px;*/
justify-content: center;
        }
        .content p {
        font-size: 16px;
        color: #292929;
        margin-bottom: 5px;
        }
        .rank {
        font-size: 23px;
        font-weight: 700;
        color: #f05819 !important;
        }
        .hr_line_image_480{
         border-top: 1.5px solid #292929;   
         opacity: 0.45 !important;
        }
        @media only screen and (max-width: 1224px) and (min-width:992px)  {
             .container_card {
               width: 700px; 
             }

        }
        @media only screen and (max-width: 2050px) and (min-width:1400px)  {
             .container_card {
               width: 910px; 
             }
            .content {
            flex: 1 1;
            text-align: center;
            margin-left: 203px !important;
            }

        }
        @media only screen and (max-width: 991px) and (min-width:300px)  {
             .container_card {
               display: contents !important; 
             }
             .hr_line_image{
                display: block !important;
                margin-top: -11px;
             }
             .hr_line_image_480{
                display: none !important;
             }

        }
/*Rankings*/