/* General Styles */
h1 {
    margin-bottom: 40px;
}

label {
    color: #292929;
}
.errorcolor{
    color: #d3143f;
}

/*.card {
    margin-left: 10px;
    margin-right: 10px;
}*/

/* Button Styling */
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 100%;  /* Full-width on all screen sizes */
    margin-left: 0;
}

/* Responsive Media Queries */
@media (max-width: 767px) {
    .form-group input,
    .form-group textarea {
        width: 100%;
    }

    .btn-send {
        width: 100%;  /* Full width on mobile devices */
    }

   /* .container {
        padding-left: 10px;
        padding-right: 10px;
    }*/
}
.custom-textarea {
    height: auto;
    min-height: 100px;
    resize: vertical;
  }
  
