.m_title {
    text-transform: capitalize;
}

.tracking-container {
    border: 1px solid #ced4da;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* background-color: #f9f9f9; */
}

.tracking-form {
    text-align: center;
}

.tracking-label {
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}

.tracking-input {
    border: 2px solid #f05819;
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    font-size: 14px;
}

.tracking-input:focus {
    border-color: #74b816;
    box-shadow: 0 0 5px rgba(116, 184, 22, 0.5);
}

.tracking-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00428a;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tracking-button:hover {
    background-color: #74b816;
}

.profile-card {
    display: flex;
    flex-direction: row;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    /* width: 600px; */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
}

.profile-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-details {
    padding: 20px;
    flex: 1;
}

.profile-details h2 {
    margin-top: 0;
    font-size: 30px;
    color: #f57134;
    font-weight: 600;
}

.profile-details p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

.profile-details strong {
    color: #13578f;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .profile-card {
        flex-direction: column;
        width: 90%;
        /* Adjust to take up more space on smaller screens */
    }

    .profile-image img {
        width: 100%;
        height: auto;
    }

    .profile-details {
        text-align: center;
        /* Center-align text for mobile */
        padding: 10px;
    }

    .profile-details h2 {
        font-size: 1.2em;
    }

    .profile-details p {
        font-size: 0.9em;
    }
}