.close-btn:hover {
    background-color: #f05819 !important;
}
 
.ReactModal__Content {
    margin-top: 45px !important;
}
 
@media screen and (min-width: 300px) and (max-width: 450px) {
    .ReactModal__Content {
        margin-top: 80px !important;
    }
}
 
.ReactModal__Overlay {
    background-color: rgb(235 231 231 / 50%) !important;
}
 
body.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}
 
.custom-overlay {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
}
 
.custom-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: rgba(90, 86, 86, 0.75);
    border: none;
    width: 90vw;
    max-width: 600px;
    max-height: 90vh;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
}
 
.close-btn {
    position: absolute;
    top: 10px;
    right: 0;
    background: #ff4d4d;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    z-index: 10000;
}
 
.mobilepopup {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}