.App {
  /* text-align: center; */
  /* padding: 20px; */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11111;
}

.popup.open {
  display: flex;
}

.popup-inner {
  position: relative;
  width: 90%;
  height: 90%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.close-btn {
  position: absolute;
  top: 10px;
  /* right: 10px; */
  background-color:  #D2093C;
  color: white;
  border: none;
  padding: 1px 14px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
}

iframe {
  border: none;
}


