/*sliderhome*/
@media screen and (min-device-width: 300px) and (max-device-width: 750px) {
.slidernamemobile{
display: none;
}
}

/*close slider*/


/* ---------------------------------- Campus Life styles------------------------------*/
.card_gap:hover>:not(:hover) {
  opacity: 0.2;
  cursor: pointer;
}

.club-card {
  position: relative;
  max-width: 300px !important;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 48px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 8px;
}

@media (max-width: 780px) {
  .club-card {
    position: relative;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 48px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 8px;
  }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1400px) {
  .club-card {
    max-width: 253px !important;
  }
}

@media screen and (min-device-width: 1100px) and (max-device-width: 1199px) {
  .club-card {
    max-width: 200px !important;
  }

  .image_events {
    max-width: 81% !important;
  }

  .social-icons .icon {
    height: 24px !important;
  }
}

@media screen and (min-device-width: 530px) and (max-device-width: 765px) {
  .club-card {
    max-width: 238px !important;
  }
}

@media screen and (min-device-width: 380px) and (max-device-width: 430px) {
  .club-card {
    max-width: 168px !important;
  }

  .event_name {
    font-size: 10px !important;
  }

  .social-icons {
    top: 62px !important
  }

  .image_events {
    max-width: 75% !important;
  }
}
@media screen and (min-device-width: 1000px) and (max-device-width: 1060px) {
  .club-card {
    max-width: 206px !important;
  }
}
@media screen and (min-device-width: 1024px) and (max-device-width: 1030px) {
  .club_card_main {
    max-width: 217px !important;
  }
  .title h3 {
    font-size: 17px !important;
  }
}
.social-icons {
  position: absolute;
  top: 131px;
  display: flex;
  flex-direction: column;
  margin-left: -15px;
}

.social-icons .icon {
  display: block;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  transition: all 0.3s;
  padding: 2px;
}

.image_events {
  max-width: 111%;
}

.social-icons .icon:hover {
  transform: scale(1.1);
}

.social-icons_image :hover {
  transform: scale(1.1);
}

.event_name {
  color: #0c6ab0 !important;
  font-weight: 900;
  font-size: 15px;
}

.card_gap {
  gap: 30px;
  justify-content: space-around;
}

.image img {
  width: 100%;
  height: auto;
}

.title {
  padding: 25px 0;
  background-color: #fff;
}

.title h3 {
  margin: 0;
  font-size: 15px;
  color: #333;
  text-transform: uppercase;
}

.life_at_aditya {
  font-size: 45px;
}
.campuslifename{
  color: #0c6ab0 !important;
}
@media screen and (min-device-width: 300px) and (max-device-width: 1000px) {
.image_left_side {
    padding-left: 12px !important;
}
}

/* -------------------- Campus Life styles-----------------------*/


/* -------------------- About Aditya -----------------------*/

.aboutmt{
  margin-bottom: 113px;
  margin-top: 85px;
}

.adityfullname {
  font-size: 35px;
  font-weight: bold;
  color: #0c6ab0;
}

.adityaname {
  color: #f05819 !important
}

.aboutcontent {
  font-size: 16px;
  line-height: 1.6;
  color: #292929;
  text-align: justify;
}
.aboutimage {
  max-width: 100% ;
  
}
@media screen and (min-device-width: 1100px) and (max-device-width: 3000px) {
  .about_image{
    text-align: right !important;
  }
}
@media screen and (min-device-width: 300px) and (max-device-width: 1099px) {
  .about_image{
    text-align: center !important;
  }
}
@media screen and (min-device-width: 800px) and (max-device-width: 1200px) {
  .adityfullname {
    font-size: 30px;
  }
}
.Sideiconimage{
  display: none;
}
@media screen and (min-device-width: 1100px) and (max-device-width: 1700px) {
  .Sideiconimage {
    max-width: 100px !important;
    display: block;
    margin-top: 86px;
    margin-left: -100px;
    position: absolute;
  }
}
@media screen and (min-device-width: 1700px) and (max-device-width: 3000px) {
  .Sideiconimage {
    max-width: 100px !important;
    display: block;
    margin-top: 86px;
    margin-left: -270px;
    position: absolute;
  }
}

@media (max-width: 768px) {
  .adityfullname {
    font-size: 35px;
    text-align: center;
  }
 .aboutcontent {
    font-size: 0.95rem;
    text-align: justify;
  }
 .text-md-start {
    text-align: center !important;
  }
  
}
/* -------------------- About Aditya -----------------------*/



/* -------------------- Raking -----------------------*/

/*ranking-card*/
@media (min-width: 1367px) and (max-width: 1380px) { 
  .react-footer .footer-top .footer-widget-3 {
    margin-left: 79px !important;
}
}
@media (min-width: 1300px) and (max-width: 1600px) { 
.ranking-logo {
  max-width: 80% !important;
  
}
}

@media (min-width: 1440px) and (max-width: 1442px) { 
  .react-footer .footer-top .footer-widget-3 {
    margin-left: 90px !important;
}
}
@media (min-width: 1400px) and (max-width: 1450px) { 
.container-width{
  max-width: 937px !important;
}
.logoright {
  margin-top: -271px!important;
  width: 9% !important;
  }
}
.bg_raking{
  background-color: #0c6ab0;
  margin-top: -45px;
  /* padding: 10px */
/*  background-image: url("./images/rakingbg.png");*/
  width: 100%;
  background-repeat: no-repeat;
}
.ranking-slider-container {
  width: 100%; 
  margin: 20px auto; 
  position: relative; 
  overflow: hidden; 
  bs-gutter-x: 15.5rem;
  bs-gutter-Y: 0rem;
}

.slider-wrapper { 
  position: relative; 
}

.ranking-card {
  display: flex;
  justify-content: center; 
  align-items: center; 
  border-radius: 8px; 
  overflow: hidden; 
}

.ranking-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #0c6ab0;
  border:#f05819;
  padding:4px;
  cursor: pointer;
  z-index: 10; 
 }

.prev-button {
  left: 10px;
  border-radius: 10px;
}

.next-button {
  right: 10px;
  border-radius: 10px;
}
@media (max-width: 767px){
  .ranking-card {
      height: 150px; 
  }
}

@media (min-width: 768px) and (max-width: 1023px) { 
  .ranking-card {
      height: 180px; 
  }
}
.logoright{
  display: none;
}
@media (min-width: 1400px) and (max-width: 1500px) { 
.logoright{
    margin-top: -274px;
    float: right;
    width: 7%;
    margin-right: -10px;
    display: block;
}
}
@media (min-width: 1501px) and (max-width: 1700px) { 
  .logoright{
      margin-top: -301px;
      float: right;
      width: 8%;
      margin-right: -10px;
      display: block;
  }
  }
@media (min-width: 1701px) and (max-width: 2500px) { 
  .logoright{
      margin-top: -323px;
      float: right;
      width: 8%;
      margin-right: -10px;
      display: block;
  }
  }
  @media (min-width: 2501px) and (max-width: 3000px) { 
    .logoright{
        margin-top: -341px;
        float: right;
        width: 7%;
        margin-right: -10px;
        display: block;
    }
    }



/* -------------------- Raking -----------------------*/



/* -------------------- Placement -----------------------*/
.bg_placement{
  background-color: #eeeeee;
  margin-bottom: -19px;
}

.placement__prev-button,
.placement__next-button {
position: absolute;
bottom:0;
left: 0;
right:0;
margin: 0 auto;
color: #0c6ab0;
border:#f05819;
padding:4px;
z-index: 10;
width: 36px;
height: 12px;
background: #FFFFFF;
border-radius: 50px;
display: flex;
align-items: center;
justify-content: center;
font-size: 1.25rem;
}
 .placement__prev-button {
  left:-52px;
  cursor: pointer !important;
}
 
.placement__next-button {
  left:52px;
  cursor: pointer !important;
}
 
.placement__prev-button:hover,
.placement__next-button:hover {
  background: #0c6ab0;
  width: 48px;
  transition: all 1s ease;
}

/* -------------------- Placement -----------------------*/



/* testimonials css code */


.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
/*  gap: 10px;*/
/*  padding: 50px;*/
  margin-top: 45px;
  background-color: #eeeeee;
}

.snip1167 {
  position: relative;
  margin: 10px;
  min-width: 220px;
  max-width: 400px;
  width: 100%;
  color: #fff;
  text-align: left;
  box-shadow: none !important;
  background-color: #0c6ab0;
  border-radius: 3px;
  padding: 20px;
  border: 6px solid #134d99;
  margin-bottom: 56px;
}

.snip1167 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
 
  margin: 0 auto;
  z-index: 1;
/*  position: relative;*/
  Margin-top: -79px;
}

.snip1167 blockquote {
  margin: 0;
  display: block;
/*  position: relative;*/
  padding: 30px 10px 30px 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6em;
  text-align: left;
  height: 220px;
  text-align: justify!important;
}
@media (min-width: 300px) and (max-width: 500px) { 
    .snip1167 blockquote{
      font-size: 14px;
      height: 211px;
      padding: 0px !important
    }
    .testimonial-container {
      padding:2px;
      margin-top: 45px;
    }
  }

.snip1167 blockquote:before,
.snip1167 blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}

.snip1167 blockquote:before {
  top: 10px;
  left: 20px;
}

.snip1167 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}

.snip1167 .author {
  padding: 15px;
  margin: 0;
  color: #ffffff !important;
  text-align: left;
  font-weight: 600;
  letter-spacing: 2px;
}

.snip1167 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}

.snip1167 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}

.testimonials_line{
  width:110px;
  color:#f05819;
  opacity:100;
  border-top: 3px solid;
  margin-left: 13px;

}
.sub_name{
  font-size:10px;
  opacity:0.9;
  vertical-align: middle;
}
.testimonial_title_name {
  font-size: 45px;
}
@media (min-width: 300px) and (max-width: 600px) { 
  .testimonial_title_name{
    font-size: 25px;
  }
  }
.testimonial_bg{
  background-color: #eeeeee;
}
.ImgLogo_testimonial{
  margin-left: 146px !important;
  width: 11% !important;
  height: 28px !important; 
} 
@media (min-width: 1024px) and (max-width: 1256px) { 
 .snip1167 blockquote {
    margin: 0;
    display: block;
    padding: 0px !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6em;
    text-align: left;
    height: 220px !important;
} 
.snip1167{
  max-width: 316px!important;
}
.snip1167 .author {
    padding: 2px!important;
    
}
.ImgLogo_testimonial{
  display: none;
}

}


/* testimonials css code close */


/* Study @aditya css code */

.study_bg{
  background-color: #0c6ab0;
}

article {
  --img-scale: 1.001;
  --title-color: #292929;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 2px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
  border-bottom: 3px solid #F05819;
}
article h2 {
  margin: 0 0 18px 0;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
  font-weight: 600;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #0c6ab0;
}

article a:focus {
  outline: 1px dotted #f05819;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #F05819;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 8px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

/*@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
}*/

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.linebar {
  display: flex;
  justify-content: center;
/*  gap: 20px;*/
  margin-top: 20px;
  cursor: pointer;
}

.linebar a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.linebar a:hover {
  color: #f05819;
}

.active-card {
  border: 3px solid #F05819; 
  color: #f05819;
  border-bottom: 0px solid #F05819;
}

@media screen and (max-width: 560px) {
  .linebar {
    display: flex;
    justify-content: space-evenly;
/*    gap: 20px;*/
    margin-top: 20px;
    align-content: center;
    flex-wrap: wrap;
    line-height: 9px;
    cursor: pointer;
  }
}
.text-orange-400 {
  color: #f05819 !important;
}
 
.highlight-card {
  border-right: 3px solid #f05819 !important;
  border-top: 3px solid #f05819 !important;
  border-left: 3px solid #f05819 !important;
}

.logoleft{
  display: none;
}
@media (min-width: 1400px) and (max-width: 1500px) { 
.logoleft{
    margin-top: 316px;
    float: left;
    width: 7%;
    margin-right: -10px;
    display: block;
    position: absolute;
}
}
@media (min-width: 1501px) and (max-width: 1700px) { 
  .logoleft{
      margin-top: 263px;
      float: left;
      width: 10%;
      margin-right: -10px;
      display: block;
      position: absolute;
  }
  }
@media (min-width: 1701px) and (max-width: 2500px) { 
  .logoleft{
      margin-top: 145px;
      float: left;
      width: 14%;
      margin-right: -10px;
      display: block;
      position: absolute;
  }
  }
  @media (min-width: 2501px) and (max-width: 3000px) { 
    .logoleft{
        margin-top: 75px;
        float: left;
        width: 14%;
        margin-right: -10px;
        display: block;
        position: absolute;
    }
    }

/* Study @aditya css code close */




/*company slider-wrapper*/
.company_image_border {
  border:1px solid #0c6ab0;
  padding:0px 5px ;
/*  border-color:#0c6ab0  #f05819 ;*/
border-radius: 20%;
}
.swiper-container {
    scroll-behavior: smooth !important;
}
 .marquee-wrapper {
  overflow: hidden;
  width: 100%;
  background: #fff;
  padding: 10px 0;
}

.marquee {
  display: flex;
  width: fit-content;
  animation: scroll-left 25s linear infinite;
}

.marquee-img {
  height: 80px;
  margin: 0 20px;
  flex-shrink: 0;
  object-fit: contain;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
/*company slider-wrapper close tag */

/*apply PG UG style*/
.admission_ug_pg {
    position: fixed;
    bottom: 11em; 
    right: -53px;
    border-radius: 6px;
    z-index: 1111;
    padding: 3px;
    font-size: 26px;
    text-align: center;
  }
@media screen and (min-device-width: 989px) and (max-device-width: 1400px) {
    .ug_pg{
    width: 40% !important;
    left: 98px !important;
    border: 2px solid #0c6ab0;
    bottom: -3em;
   }
}
@media screen and (min-device-width: 449px) and (max-device-width: 989px) {
    .ug_pg{
        width: 32% !important;
        left:119px!important;
        bottom: 7em; 
    }
}
@media screen and (min-device-width: 400px) and (max-device-width: 448px) {
    .ug_pg{
        width: 32% !important;
        left:119px!important;
        bottom: 7em; 
    }
}
@media screen and (min-device-width: 380px) and (max-device-width: 399px) {
    .ug_pg{
        width: 32% !important;
        left:95px!important;
        bottom: 7em; 
    }
}
@media screen and (min-device-width: 300px) and (max-device-width: 379px) {
    .ug_pg{
        width: 32% !important;
        left:85px!important;
        bottom: 5em; 
    }
}
.ug_pg{
    border: none;
    color: #FFF;
    border-radius: 10px;
    position: relative;
    z-index: 1111 !important;
    width: 45%;
    cursor: pointer;
    left: 82px;
    border: 2px solid #0c6ab0;
}
.ug_pg:hover {
border: 2px solid #f05819;
}

/*close addimision tage */


/*News Section Slider start */
.topbar-contact {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.news__slider--wrapper {
  position: relative;
}

.news--swiper {
  padding: 0;
}

.news__card--wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news__card--textWrap,
.news__card--textWrap a {
  font-size: 1rem;
  color: #0c6ab0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.news__card--textWrap a:hover {
  color: #F05819;
  text-decoration: underline !important;
}

.news__prev-button,
.news__next-button {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  color: #0c6ab0;
  border: #f05819;
  padding: 4px;
  z-index: 10;
  width: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  background: transparent;
}

.news__prev-button {
  left: -52px;
  cursor: pointer !important;
}

.news__next-button {
  right: -52px;
  cursor: pointer !important;
}

.news__prev-button:hover,
.news__next-button:hover {
  background: transparent;
  color: #F05819;
  transition: all 1s ease;
}
@media screen and (min-width:1024px) and (max-width:1366px){
.news__slider--wrapper{ padding:0 40px;}
.news__card--wrap { padding: 0 60px; width: 90% !important; margin:0 auto}
.news__prev-button {
  left: 0px;
}
.news__next-button {
  right: 0px;
}
}

