
.submenu-down {
  background-color: #eaf2f8;
  animation: fadeIn 0.3s ease-in-out;
  background-color: #dce9f2;

}

.submenu-item {
  padding: 10px 20px;
  transition: background-color 0.3s;
  border-top: 1px solid #ccc;
}

.submenu-item:hover {
  background-color: #f05819;
  color: #fff;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.header-dept {
  background-color: #0c6ab0;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 292px;
}

.menu-wrapper {
  animation: fadeIn 0.2s ease-in-out;
  position: absolute;
  z-index: 45;
/*    width: 100;*/
}

.menu-item-dept {

  display: flex;
  align-items: center;
  padding: 12px 15px;
  border-top: 2px solid #fff;
  background-color: #dce9f2;
  transition: background-color 0.3s;
  cursor: pointer;
  color: #0c6ab0;
/*  opacity: 0.9;*/
/*  position: absolute;*/
}

.menu-item-dept svg {
  margin-right: 10px;
  font-size: 16px;
}

.menu-item-dept:hover {
  background-color: #f05819;
  color: #fff;
}

.active-overview {
  background-color: #f05819;
  color: #fff;
}
.menu-item-dept.active,
.submenu-item.active {
  background: #f05819;
  color: #fff;
  font-weight: bold;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}



.scrollable-box {
  height: 600px;
  overflow-y: auto;
  padding-right: 10px;
  scrollbar-width: 0.2px;
  -ms-overflow-style: none;  /* IE and Edge */
}

.scrollable-box {
  scrollbar-width: auto;

/* scrollbar-width: thin;
scrollbar-width: none;*/

}

.scrollable-box::-webkit-scrollbar {
  width: 2px;
}

.scrollable-box::-webkit-scrollbar-thumb {
  background-color: #dce9f2;
  border-radius: 10px;
}
@media (max-width: 700px) {
.justify-content-end {
    justify-content: center !important;
}
}