.table_center {
  display: flex;
  justify-content: right;
  align-items: center;
/*  height: 100vh;*/
}

.drop-down {
  position: relative;
  display: inline-block;
}

.drop-down__button {
  background: #0c6ab0;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}
@media only screen and (max-width: 1270px) and (min-width:992px) {
  .drop-down__button{
    padding: 5px 5px !important;
  }
  
}

.drop-down__menu-box {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  width: 200px;
}

.drop-down--active .drop-down__menu-box {
  visibility: visible;
  opacity: 1;
}


.drop-down__menu {
  list-style: none;
  margin: 1.5px;
  padding: 0px 0;
  z-index: 11111;
  position: absolute;
  background: white;
  color: black;
  border-top: 2px solid #f05819 !important;
  margin-left: -76px;
}

.drop-down__item {
  padding: 8px 15px;
  cursor: pointer;
  transition: background 0.3s;
  color: #292929;
  font-weight: 600;
  border-bottom: 1px solid #f5f3f3;
}

.drop-down__item:hover {
  background: #f1f1f1;
  color: #f05819;
  font-weight: 600;
}
.drop-down__name:hover{
  color: #f05819;
}
.react-inner-menus{
  background: rgb(255 255 255 / 35%) !important;
  border-radius: 9px;
/*  opacity: 0.8;*/
}