.outreachcontanter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dce9f2;
    padding: 15px;
    border-radius: 20px;
    width: 95%;
    margin: auto;
}
.logo-box{
    background: #fff;
    padding: 20px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-box:nth-child(2n+1){
      border-radius:10px 0px 0px 10px;
}
.logo-box:nth-child(2n+2){
       border-radius:0px 10px 10px 0px;
}
.imagecollaborations{
  /*  width: 200px;
    height: 200px;*/
}
/*team mumbers style*/

.team-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap; 
}

.team-card {
  background-color: #dce9f2;
  padding: 14px;
  
  display: flex;
/*  align-items: center;*/
  width: 532px;

}

.team-card img {
/*  width: 200px;*/
  border-radius: 8px;
  margin-right: 30px;
}

.team-card h3 {
  font-size: 1.125rem;
  font-weight: bold;
  color: #f05819;
}

.team-card p {
  color: #292929;
  margin-top: 4px;
}

.team-card .role {
  font-weight: 600;
  color: #292929;
  margin-top: 8px;
}

/* Mobile Styles (max-width: 767px) */
@media (max-width: 767px) {
  .team-container {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    align-items: center; 
  }

  .team-card {
    width: 100%; 
    max-width: 300px; 
    flex-direction: column; 
    margin: 0 auto; 
    box-shadow: none; 
    display: block;
  }

  .team-card img {
    width: 120px; 
    margin-right: 0px;
  }

  .team-card h3 {
    font-size: 1rem; 
  }

  .team-card p {
    font-size: 0.875rem;
  }

  .team-card .role {
    font-size: 0.875rem; 
  }
}


@media (max-width: 1024px) {
  .team-container {
    display: flex;
    gap: -1px;
    flex-wrap: wrap; 
  }
}

@media only screen and (max-width: 1199px) and (min-width: 999px) {
    .bg_color_out {
        background-color: #fff;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 50px;
        padding-bottom: 50px;
        border-radius: 10px;
    }
    
}

@media only screen and (max-width: 1008px) and (min-width: 999px) {
.team-card {
width: 445px !important;
}
}

@media only screen and (max-width: 1200px) and (min-width: 1008px) {
.team-card {
width: 453px !important;
}
}
@media only screen and (max-width: 1400px) and (min-width: 1201px) {
.team-card {
width: 542px !important;
}
.bg_color_out {
       
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media only screen and (max-width: 770px) and (min-width: 767px) {
    .bg_color_out {
         padding-left: 71px !important;
     }
}
.cardbleft{
    border-radius:10px 0px 0px 10px;
}

.cardbright{
    border-radius:0px 10px 10px 0px;
}
.detail-card{
text-align: left;
}

/*team mumbers style*/


/* magazine Section Start */
.magazine--card{
  width: 100%;
/*  background: #FFFFFF;*/
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  height: 450px;
  max-height:450px;
}
.magazine__img--wrap{
  width: 100%;
/*  background: #f1f1f1;*/
  height: 330px;
  max-height: 330px;
  overflow: hidden;
}
.magazine__img--wrap img{object-fit: cover;}


a:hover .news--card .newsTitle{color:#f05819}

.magazine__text--wrap{
  width: 100%;  height:120px; display: flex; flex-direction: column; justify-content: center;
}
.magazine__text--wrap .magazineTitle{
  font-size: 1rem; font-weight: 600; color:#333;   
}
.magazine__icons--wrap{
  display: flex; justify-content: space-between; padding: 18px 2rem;
}
.docicon{font-size: 2rem;} .doc--clr{color:#014383;} .pdf--clr{color:#bd3d07;}


@media screen and (min-width:700px) and (max-width:1200px) and (orientation: landscape){
.magazine--card{
  height: 400px;
  max-height:400px;
}
.magazine__img--wrap{height: 290px; max-height: 290px;}
.magazine__text--wrap{height: 110px;}
}
/*Digital Content Course style*/

.topics--video--end{
width: 100%;
height: 500px;
background: #000;
color: #fff;
display: flex;
flex-Direction: column;
justify-Content: center;
align-Items: center
}
 
 .teaching--card--imgWrap img{
  width: 100%;
  object-fit: cover;
}


.outer-wrap{
    padding: 24px 100px;
}
 
.course--list{
    list-style: none; margin: 0; padding: 0;
}
.course--list li{
  display: inline-flex;
  width: 50%;
  align-items: center;
}
.course--list li a{
 position: relative;
 margin: 0.375rem 0;
   
}
.course--list li a:hover{
 color: #F05819;
 font-weight: 600;
}
   
.course--list li::before{
    content: "";
    width: 20px;
    height: 20px;
    margin-right: .5rem;
    background-image: url(https://adityauniversity.in/static/media/radio.fb635f2eb47c526ac8a4.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
 
@media screen and (min-width:360px) and (max-width:980px){
.outer-wrap{
    padding: 24px 30px;
}
  .course--list li{
  display: flex;
  width: 100%;
  align-items: center;
}
}


.topics--list{
  margin: 0; padding: 0; list-style: none;
}
 
.topics--list li{
   line-height: 1.5; margin-bottom: .5rem; width: calc( 100% - 20px); text-align: justify; display: flex; cursor: pointer;
}
.topics--list li .icon{width: 12px; margin-right: .5rem;}
 
.topics--list li:last-child{
  margin-bottom: 0;
}
.topics--list li:hover{color:#f05819 !important;}


/*Digital Content Course style closetag*/


/* events_registration */

.degree-list {
    list-style: none;
    padding-left: -1px !important;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex; align-items: center; justify-content: center;
  z-index: 999;
}

.modal-box {
  width: 600px;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  max-height:70vh;
  overflow-y: auto;
}

.popup-form label { display: block; margin-bottom: 10px; font-weight: 500; }
.input { width: 100%; padding: 6px; margin-top: 2px; border: 1px solid #bbb; border-radius: 5px; }
.radio-group { margin: 10px 0 15px 0; display: flex; flex-direction: column; gap: 5px; }