/* Fade and zoom animation */
@keyframes fadeZoomIn {
    0% {
      opacity: 0;
      transform: scale(0.8) translateY(20px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
  
  .image-animate {
    opacity: 0;
    transform: scale(0.8) translateY(20px);
    animation: fadeZoomIn 0.8s ease forwards;
  }
  
  .delay-1 { animation-delay: 0.1s; }
  .delay-2 { animation-delay: 0.2s; }
  .delay-3 { animation-delay: 0.3s; }
  .delay-4 { animation-delay: 0.4s; }
  
  /* Popup overlay */
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    background: white;
    border-radius: 12px;
    padding: 10px;
    animation: fadeZoomIn 0.3s ease;
  }
  
  .popup-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .close-btn {
    position: absolute;
    top: -10px;
    right: 0px;
    background: white;
    color: black;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    /* width: 30px; */
    /* height: 30px; */
    text-align: center;
    line-height: 30px;
    /* box-shadow: 0 0 8px rgba(0,0,0,0.5); */
  }
  