/*.degree-list-container {
	line-height: 30px;
	text-align: justify;
}
.heading_side{
	color: #328afc; 
	font-Size: 19px;  
	font-Weight:550
}
.degree-list {
	list-style: none;
	padding-left: 0;
}
.degree-list li {
	margin: 10px 0;
	font-size: 16px !important;
    display: flex;
}
.degree-list li .icon {
	margin-right: 5px;
}
.pointimage{
	max-width: none !important;
	height: 25px;
}
.headingcolor{
	color: #f05819;
}
.contentsize{
	font-size: 18px;
	text-align: justify;
}
.bg_color{
	background-color: #fff;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
}
@media only screen and (max-width: 3000px) and (min-width:790px)  {
	.bg_color{
		background-color: #fff;
		padding-left: 100px;
		padding-right: 100px;
		padding-top: 50px;
		padding-bottom: 50px;
		border-radius: 10px;
	}
}
.campus_sec1 .more-about {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	border-radius: 6px;
	border: 2px solid rgba(0, 48, 110, 0.1);
	padding: 12px 35px 12px 35px;
	color: #00306E;
	display: inline-block;
	line-height: 20px;
}

.centerimage{
	position: absolute;
	float: left;
}*/

/*@media only screen and (max-width: 4000px) and (min-width:1200px)  {
.left-image-aditya{
	display: block !important;
	float:left;
	width:10%;
	margin-top:240px;
	align-items: center !important;

}
}
.left-image-aditya{
	display:none;
}*/

@media only screen and (max-width: 4000px) and (min-width:1300px)  {
	.left-image-aditya{
		align-items: center !important;
		background-position-y: center; 
		background-image: url("http://localhost:3000/static/media/leftaditya.72f9d62d5a9be51e419f.png"); 
		background-repeat: no-repeat; 
		background-size: auto 35%;
	}
	.col-lg-12, .col-md-5, .col-sm-4 {
    flex: 1;
    min-width: 300px; /* Adjust this as per your design */
}
}
